{{#resume.contact}}
	<section id="contact">
		<h1>{{name}}</h1>
		<hr>
			<div class="reachme">
				<ul>
					<li>Phone: <strong>{{phone}}</strong></li>
					<li>Email: <strong>{{email}}</strong></li>
				</ul>
			</div>
		<hr>
	</section>
{{/resume.contact}}