body {
	min-width: 400px;
	width: 80%;
	margin: auto;
	font-family: Arial, sans-serif;
	text-align: center;
}
h1, h2, h3, hr {
	color: green;
}
#contact li {
	display: inline;
	padding-right: 10px;
	text-decoration: none; 
}
#overview, #work {
	text-align: left;
}